---js
const title = "NanoReviews";
const layout = "layouts/base.vto";
---
{{ for review of reviews }}
    <p>{{ review.name }}, {{ review.dateExperienced |> dateFriendly }}, {{ review.rating }}</p>
{{ /for }}
